# environment mode (production, development)
ENVIRONMENT=development

SECRET_KEY=<SECRET_KEY>

# database
SQL_HOST=host.docker.internal
SQL_PORT=5445
SQL_USER=postgres
SQL_PASSWORD=postgres
SQL_DB=het

# telegram bot api token
TEEGRAM_BOT_TOKEN=<TELEGRAM_BOT_TOKEN>

# monitoring
SENTRY_DSN=<SENTRY_DSN>

# ngrok for development only
NGROK_AUTHTOKEN=<NGROK_AUTHTOKEN>
